<html ng-app="MunaqqibApp">
<head>
  <title>Munaqqib Admin</title>
</head>
<body>
<div ng-controller="MunaqqibCtrl as ctrl">
  {{ ctrl.message }}
  <script src="/public/js/client.js">

  </script>
</div>
</body>
</html>
